<h1>Worksheets</h1>
<ul>
<%- @w.each do |worksheet| %>
  <li><span><%= worksheet.ws_title %></span>:
  <span><%- if worksheet.ok? -%>
    ✅
    <%- else -%>
    🧨
  <%- end -%>
  </span></li>
<% end -%>
</ul>